{
    "payin/test_3ds.py": {
        "TERMINAL_ID": "3649",
        "SERVICE_SECRET": "your_secret_here"
    },
    "operations/test_confirm_user_action.py": {
        "TERMINAL_ID": "9999",
        "SERVICE_SECRET": "another_secret"
    }
}
